body{
  font-family: Arial,sans-serif;
}
#main {
    padding: 10px;
    text-align: center;
    background: #bee3bd;
    border: solid #8da7b3;
    border-width: 5px;
}

#chatWindow {
    background-color: white;
    width:800px;
    height:850px;
    margin: 0 auto;
    border: solid #8da7b3;
    border-width: 5px;
    overflow: auto;
    box-shadow: 1px 1px 10px #888888;
}
.message {
    margin-left: 10px;
    list-style: none;
    text-align: left;
    color: #3d6599;
    border-bottom: 1px solid #B8B8B8;
    margin-top:5px;
    margin-bottom:5px;
}
#submittext{
  margin-top: 10px;
}
.friend{
  font-weight: bold;
}
.send{
  margin-top: 5px;
}
.message:hover {
  text-shadow: 1px 0 #404040;
}
#roomform {
  margin-bottom: 5px;
}
.home{
  background: transparent;
  color:#3d6599;
  border:none;
}